.animate-fade-in {
  animation: fadeIn 1s infinite;

  @keyframes fadeIn {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

.animate-active-toc-about-section {
  transition: color 0.3s ease-in-out;
}

.animate-toc-index-pointer {
  transition: top 0.3s;
}
