.about-section-subtitle {
  $text-stroke-width: 1px;
  $text-stroke-color: var(--color-dark-gray-3);

  position: absolute;
  color: var(--color-dark-gray-2);
  -webkit-text-stroke: $text-stroke-width $text-stroke-color;
  text-stroke: $text-stroke-width $text-stroke-color;
  writing-mode: vertical-rl;
}

.about-section-sticky-note-shadow-effect {
  width: 90%;
  height: 60%;
  opacity: 0.75;
  background: var(--color-dark-gray-3);
  box-shadow: 5px -5px 5px 5px var(--color-dark-gray-3);
  transform: rotate(1deg);
}

.dragger-area-asset-triangle {
  $size: 10px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(30%, -50%) rotate(45deg);
  width: $size;
  height: $size;
  border-top: $size solid var(--color-emerald-1);
  border-right: $size solid var(--color-emerald-1);
  border-bottom: $size solid transparent;
  border-left: $size solid transparent;
}

.works-modal-close-wrapper {
  box-shadow: 0px 5px 12px -3px var(--color-dark-gray-3);
}

.works-modal-close-container {
  $size: 40px;
  position: relative;
  width: $size;
  height: $size;

  span {
    position: absolute;
    background: var(--color-dark-gray-1);
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: calc(#{$size} / 4);
  }

  span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover span {
    background: var(--color-dark-gray-3);
  }
}

// swiper extended styles
.swiper-wrapper {
  position: relative;
  width: 100%;
}

.swiper-contents-container {
  width: calc(100% - calc(2 * 50px));
}

.swiper-button {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  background: var(--color-dark-gray-1);
  color: white;
  z-index: 10;
  font-size: 5rem;

  // 効かない???
  // &.prev {
  //   left: 0;
  //   transform: translateX(-100%);
  // }

  // 効かない???
  // &.next {
  //   right: 0;
  //   transform: translateX(100%);
  // }

  &:hover {
    background: var(--color-dark-gray-2);
  }

  &:disabled {
    opacity: 0.1;
    cursor: auto;
    pointer-events: none;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-container {
  $size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: $size;
  z-index: 10;

  span {
    display: block;
    width: $size;
    height: $size;
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  background: var(--color-dark-gray-3);
}

.swiper-pagination-bullet-active {
  cursor: auto;
  background: var(--color-emerald-1);
}
