.gradient-bg-loading-screen {
  background: linear-gradient(
    135deg,
    var(--color-dark-gray-2) 15%,
    var(--color-dark-gray-1) 100%
  );
}

.gradient-text-loading-screen {
  background: linear-gradient(
    90deg,
    var(--color-emerald-1) 20%,
    white 50%,
    var(--color-salmon-1) 80%,
    var(--color-dark-gray-3) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
